version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_USER_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    container_name: redis_broker
    restart: always
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: django_app
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - app_network
    expose:
      - "8000"
    ports:
      - "8000:8000"
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000

  celery:
    build: ./backend
    container_name: celery_worker
    restart: always
    env_file:
      - ./backend/.env
    command: celery -A backend worker -l info
    depends_on:
      - backend
      - redis
    volumes:
      - ./backend:/app
    networks:
      - app_network

  celery-beat:
    build: ./backend
    container_name: celery_beat
    restart: always
    env_file:
      - ./backend/.env
    command: celery -A backend beat -l info
    depends_on:
      - backend
      - redis
    volumes:
      - ./backend:/app
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: nextjs_app
    restart: always
    env_file:
      - ./frontend/.env.local
    depends_on:
      - backend
    networks:
      - app_network
    expose:
      - "3000"
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: nginx_reverse_proxy
    restart: always
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - static_volume:/staticfiles
      - media_volume:/media
    networks:
      - app_network

volumes:
  pg_data:
  static_volume:
  media_volume:

networks:
  app_network:
    driver: bridge
